<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="./../plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="./../plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="./../plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="./../plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="./../plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./../plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="./../plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="./../css/style.css">
</head>

<body>

    <header class="header-top bg-dark py-4">
        <div class="container">
            <nav class="navbar navbar-expand-lg navigation menu-white">
                <a class="navbar-brand" href="/">
                    <img src="images/logo-w.png" alt="" class="img-fluid">
                </a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu  text-white"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="menu navbar-nav ml-auto">
                      <li class="nav-item"><a href="/about" class="nav-link">About</a></li>  
                      <li class="nav-item"><a href="/article/list" class="nav-link">Blog</a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Community
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">DevNews</a>
                          <a class="dropdown-item" href="#">코딩여지도</a>
                          <a class="dropdown-item" href="#">오늘의 지름</a>
                          <a class="dropdown-item" href="#">DevDon</a>
                        </div>
                      </li>
                      <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    </ul>
                    <div class="text-lg-right search ml-4">
                        <div class="search_toggle"><i class="ti-search text-white"></i></div>
                    </div>
                </div>
            </nav>
        </div>
      </header>

    <!--search overlay start-->
    <div class="search-wrap">
        <div class="overlay">
            <form action="#" class="search-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-9">
                            <input type="text" class="form-control" placeholder="Search..." />
                        </div>
                        <div class="col-md-2 col-3 text-right">
                            <div class="search_toggle toggle-wrap d-inline-block">
                                <i class="ti-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--search overlay end-->


    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">                    
                    <div class="row">
                        <% 
                        function getCategoryName(id) {
                            switch(id) {
                                case 0: return "Tech News";
                                case 1: return "잡담";
                                case 2: return "중고(판매)";
                                case 3: return "제품리뷰";
                                default: return "";
                            }
                        }
                        %>

                        <div class="row" style="display: flex; justify-content: center; align-items: center;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <% for(var i=0; i<articles.length; i++) { %>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <article class="post-grid mb-5">
                                            <a class="post-thumb mb-4 d-block" href="/postview/<%=articles[i].article_id%>">
                                                <img src="../images/news/news-1.jpg" alt="<%=articles[i].title%>" class="img-fluid w-100">
                                            </a>
                                            <div class="post-content-grid">
                                                <div class="label-date">
                                                    <span class="day"><%=moment(articles[i].reg_date).format("DD")%></span>
                                                    <span class="month text-uppercase"><%=moment(articles[i].reg_date).format("MMM")%></span>
                                                </div>
                                                <span class="cat-name text-color font-extra font-sm text-uppercase letter-spacing">카테고리: <%=getCategoryName(articles[i].article_category_id)%></span>
                                                <h3 class="post-title mt-1"><a href="/article/modify/<%=articles[i].article_id%>"><%=articles[i].title%></a></h3>
                                                <p class="card-text" style="white-space: pre-wrap; overflow-wrap: break-word; word-break: break-word;"><%=articles[i].contents%></p>
                                                <p class="card-text">userID:<%=articles[i].reg_member_id%></p>
                                                <p class="card-text">조회수 <%=articles[i].view_count%></p>
                                            </div>
                                        </article>
                                    </div>
                                    <% } %>
                                    <% for(var i=articles.length; i<9; i++) { %>
                                    <div class="col-lg-4 col-md-6 col-sm-6"></div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>

                <div class="m-auto">
                    <div class="pagination mt-5 pt-4">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#" class="active">1</a></li>
                            <li class="list-inline-item"><a href="#">2</a></li>
                            <li class="list-inline-item"><a href="#">3</a></li>
                            <li class="list-inline-item"><a href="#" class="prev-posts"><i
                                        class="ti-arrow-right"></i></a></li>
                        </ul>
                        <div class="col-sm-3">
                            <a href="/article/create" class="btn btn-grey ">글쓰기</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>


    <section class="footer-2 section-padding gray-bg pb-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="subscribe-footer text-center">
						<div class="form-group mb-0">
							<h2 class="mb-3">소식 구독하기</h2>
							<p class="mb-4">더 많은 소식을 받아보세요.
							<p>
							<div class="form-group form-row align-items-center mb-0">
								<div class="col-sm-9">
									<input type="email" class="form-control" placeholder="이메일 주소를 입력해 주세요.">
								</div>
								<div class="col-sm-3">
									<a href="#" class="btn btn-dark ">구독하기</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="footer-btm mt-5 pt-4 border-top">
				<div class="row">
					<div class="col-lg-12">
						<ul class="list-inline footer-socials-2 text-center">
							<li class="list-inline-item"><a href="/privacy_policy">Privacy policy</a></li>
							<li class="list-inline-item"><a href="/about">About</a></li>
							<li class="list-inline-item"><a href="/contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-6">
						<div class="copyright text-center ">
              © <span class="current-year">2023 </span><a href="https://www.linkedin.com/in/myeong-gyu-lee/"> MyeongGyu.LEE</a> All Rights Reserved.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!--footer end-->

    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/slick-carousel/slick.min.js"></script>
    <script src="plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="js/custom.js"></script>


</body>

</html>